.card {
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

input {
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: 1px solid #3b3b3b;
  font-size: 1rem;
  outline: none;
}

button {
  color: white;
  background-color: #007542;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
  height: 2rem;
  width: 35%;
  font-size: 1rem;
}

button:hover {
  background-color: #3aa346;
}

.result-container {
  margin-top: 1rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

.result-container p {
  margin: 0.3rem 0;
}

@media (max-width: 768px) {
  .card {
    padding: 1.5rem;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.5rem;
  }
  .card {
    padding: 1rem;
    max-width: 100%;
    border-radius: 10px;
  }
}
